html * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  place-items: center;
  background-color: lightgrey;
}

ul {
  display: none;
}

ul.active,
ul#menu-container {
  display: block;
}

ul#menu-container {
  width: 300px;
  background-color: white;
  border-radius: 4px;
  padding: 20px 40px;
}

ul:not(#menu-container) {
  padding: 10px 40px;
}

li {
  margin: 6px 0;
}
